{# Table From-To with stops for a trip #}

<table class="table trip-stops">
{% for stop in stops %}

    {% set class_line = (stop.delta == depDelta) ? "dep" : ((stop.delta == arrDelta) ? "arr" : "") %}

    <tr{{ class_line ? (' class="' ~ class_line ~ '"')|raw }}>
        <td class="time">
            {{ (stop == stops[0] ) ? depTime|date("H\\hi") :
                ( stop.time ) ? depTime|date_modify("+" ~ stop.time ~ "seconds")|date("H\\hi") :
                    "- - - - -" }}
        </td>
        <td class="place"><span>{{ stop.city.name|upper }}</span>{{ (stop.place) ? ', ' ~ stop.place }}</td>
    </tr>
{% endfor %}
</table>