{# Table From-To with stops for a trip #}

<table class="table trip-stops">
{% for stop in stops %}

    {# {% set class_line = (stop.id == trip.dep_city_id) ? "dep" : ((stop.id == trip.arr_city_id) ? "arr" : "") %}#}
    {% set class_line = 'myclass' %}

    <tr{{ class_line ? (' class="' ~ class_line ~ '"')|raw }}>
        <td class="time">{{ (stop == stops[0] ) ? depTime|date("H\\hi") : "- - -" }}</td>
        <td class="place"><span>{{ stop.city.name|upper }}</span>{{ (stop.place) ? ', ' ~ stop.place }}</td>
    </tr>
{% endfor %}
</table>