Bonjour {{ user.firstName }},

Merci de votre inscription.

Pour confirmer votre email, cliquez sur : <a href="{{ url('homepage') }}">{{ url('homepage') }}</a>.

A bientôt !

<em>L'équipe Vadrouille</em>