<div class="row">
     <div class="col-sm-3">
        <a href="/" title="Accueil" alt="Vadrouille Covoiturage">
            <img src="/theme/img/vadrouille-covoiturage.png">
        </a>
    </div>
    <div class="col-sm-9 text-right">
{#        {{ macros.render_menu(headermenu, 'header-menu', 'nav nav-pills') }} #}
    </div>
</div>