{% block subject %}
    default subject
{% endblock %}

{% block body_text %}
{% block email_body_text %}
    default text
{% endblock %}
{% block signature_text %}
---
L'équipe Vadrouille

Ceci est un mail automatique. Pour nous joindre, merci d'écrire à contact@vadrouille-covoiturage.
{% endblock %}
{% endblock %}

{% block body_html %}
{% block email_body_html %}
    <p>default body</p>
{% endblock %}
{% block signature_html %}
    <div style="color:#555;">
        <p>---<br>
            <em>L'équipe Vadrouille</em>
        </p>

        <p style="font-size:11px">Ceci est un mail automatique. Pour nous joindre, merci d'écrire à
            <a href="mailto:contact@vadrouille-covoiturage">contact@vadrouille-covoiturage.com</a>.</p>
    </div>
{% endblock %}
{% endblock %}