{% extends "FOSUserBundle::layout.html.twig" %}

{% block headline %}Changer le mot de passe{% endblock %}

{% block content %}

    <div class="col-sm-3">
        {% include 'components/user_profile_menu.html.twig' %}
    </div>

    <div class="col-sm-9">
        {% trans_default_domain 'FOSUserBundle' %}

        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" id="form-user-change-password">
            {{ form_widget(form) }}
            <div class="col-sm-4 col-sm-push-4">
                <button class="btn btn-primary" type="submit">{{ 'change_password.submit'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock content %}