/**
 * SonataAdminBundle Theme based on SB Admin v2.0
 * http://startbootstrap.com/templates/sb-admin-v2/
*/

.logo img {
    display: inline;
    padding-bottom: 4px;
    max-height: 100%;
    max-width: 100%;
}
