{% extends 'base.html.twig' %}

{% block content%}
    <div class="row">
    <div class="col-sm-12">
        <p>Homepage. Bienvenue !!</p>

        {% if app.user is defined  %}
            {{ dump(app.user)  }}
        {% endif %}

    {#{% include "components/searchtripsform.html.twig" %}#}


    </div>
    </div>
{% endblock %}