{% extends 'base.html.twig' %}

{% block content%}
    <div class="row">
    <div class="col-sm-12">
        <p>Homepage. Bienvenue {{ name }} !!</p>

    {#{% include "components/searchtripsform.html.twig" %}#}


    </div>
    </div>
{% endblock %}